/* FUENTES */ 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

/* COLORES
rgb(204, 204, 204)
rgb(27, 27, 27)
*/

/* RESETEO NAVEGADOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-color: black;
}

/*  HEADER INDEX */

.headerPages{
    text-decoration: none;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.logoHead1 {
    width: 160px;
    height: 160px;
    margin-left: 5px;
    background-size: cover;
}

.logoHead2 {
    width: 160px;
    height: 160px;
    margin-right: 5px;
    background-size: cover;
}

h2{
    color: rgb(204, 204, 204);
    width: 100%;
    text-align: center;
    font-family: Rye;
    font-size: 48px;
    font-weight: 700;
}

/* BARRA DE NAVEGACION */

.navBar{
    background-color: black;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navBar ul{
    display: flex;
    list-style: none;
    gap: 5px;
}

.navBar li a{
    color: rgb(204, 204, 204);
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(27, 27, 27);
}

.menuPrinc{
    font-family: lato;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 150px;
    margin-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgb(204, 204, 204);
    background-color: rgb(27, 27, 27);
}

/*BODY HOME*/

.cuerpo{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.backHome{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.resena{
    list-style: none;
    position: absolute;
    top: 220px;
    right: 20px;
    font-family: lato;
    font-size: 26px;
    font-weight: 700;
    text-align: right;
    line-height: 150%;
    color: rgb(204, 204, 204);
}

/* CARTA */

.grid-container{
    background-image: url("../assets/img/tablones.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 48px);
    gap: 0 15px;
}

h3{
    font-family: lato;
    font-size: 24px;
    font-weight: 400;
    color: rgb(204, 204, 204);
    position: absolute;
    top: 230px;
    left: 20px;
}

.grid-container h4{
    font-family: lato;
    font-size: 24px;
    font-weight: 700;
    color: rgb(204, 204, 204);
    text-align: center;
    padding: 10px 0;
}

.grid-container p{
    font-family: lato;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
}

.grid-container span{
    position: relative;
    top: -10px;
    font-size: 14px;
    font-weight: 400;
}

.burguer{
    grid-column: 1/3;
    grid-row: 1/9;
}


.burguer div{
    display: flex;
    justify-content: space-between;
}

.burguer div p{
    padding: 0px 15px;
    color: rgb(204, 204, 204);
}

.empanada{
    grid-column: 1/3;
    grid-row: 9/16;
}

.empanada div{
    display: flex;
    justify-content: space-between;
}

.empanada div p{
    padding: 0px 15px ;
    color: rgb(204, 204, 204);
}

.pizza{
    grid-column: 3/5;
    grid-row: 1/8;
}

.pizza div{
    display: flex;
    justify-content: space-between;
}

.pizza div p{
    padding: 0px 15px ;
    color: rgb(204, 204, 204);
}

.sandwich{
    grid-column: 3/5;
    grid-row: 9/16;
}

.sandwich div{
    display: flex;
    justify-content: space-between;
}

.sandwich div p{
    padding: 0px 15px ;
    color: rgb(204, 204, 204);
}



/*  NOSOTROS */

.cuerpoNosotros{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.backNosotros{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.historia{
    position: absolute;
    top: 220px;
    font-family: lato;
    font-size: 20px;
    color: rgb(204, 204, 204);
    width: 47%;
    text-align: right;
    margin-right: 25px;
}

/*EVENTOS*/

.galeriaEventos{
    position: absolute;
    top: 250px;
    left: 35%;
    width: 30%;
    height: 90%;
    background-image: url("../assets/img/evento-house.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* SUMATE */

form{
    position: absolute;
    top: 280px;
    left: 20px;
}

form input{
    width: 600px;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    background-color: transparent;
    font-family: lato;
    font-weight: 400;
    font-size: 14px;
    color: rgb(204, 204, 204);
    padding: 3px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.sobreMi{
    height: 200px;
}

form button{
    width: 150px;
    font-family: lato;
    font-weight: 400;
    font-size: 20px;

}
/* FOOTER */

footer{
    background-color: #323232;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.sumate{
    font-family: lato;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-left: 8px;
    width: 150px;
    color: rgb(204, 204, 204);
}

.ubi{
    font-family: lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 300px;
}

.tel{
    font-family: lato;
    color: rgb(204, 204, 204);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 300px;
}

.facebook {
    width: 40px;
    height: 40px;
    background-size: contain;
}

.instagram {
    width: 40px;
    height: 40px;
    background-size: contain;
}

.whatsapp {
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-right: 8px;
}

/* RESPONSIVE */

@media (max-width: 1120px){
    .historia{
        font-size: 16px;
        margin-right: 15px;
    }
}

@media (max-width: 900px){
    .backNosotros{
        opacity:0.2;
    }

        .historia{
        font-size: 16px;
        width: 95%;
        text-align: justify;
    } 
}

@media (max-width: 768px){
    .logoHead1 {
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    
    .logoHead2 {
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    
    h2{
        font-size: 32px;
    }

    .backHome{
        height: 390px;
        width: auto;
    }

    .backNosotros{
        height: 390px;
        width: auto;
    }

    .resena{
        font-size: 22px;
        top: 180px;
    }

    .historia{
        top: 135px;
        font-size: 14px;
        width: 95%;
        text-align: justify;
    }

    .menuPrinc{
        font-size: 14px;
    }

    footer{
        height: 35px;
    }

    .sumate{
        font-size: 12px;
        margin-left: 8px;
        width: 150px;
    }

    .ubi{
        font-size: 10px;
        width: 200px;
    }

    .tel{
        font-size: 10px;
        width: 200px;
    }

    .facebook {
        width: 30px;
        height: 30px;
    }

    .instagram {
        width: 30px;
        height: 30px;
    }

    .whatsapp {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
}

@media (max-width: 540px){
    .logoHead2 {
        display: none;
    }

    .menuPrinc{
        font-size: 13px;
    }
}


@media (max-width: 476px){

    .headerPages{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
        margin-top: 25px;
    }
    
    h2{
        font-size: 28px;
        margin-bottom: 15px;
    }

    .navBar ul{
        display: flex;
        justify-content: center;
    }

    .menuPrinc{
        font-size: 11px;
        width: 80px;
    }

    .backHome{
        height: 600px;
        width: auto;
        opacity: 0.5;
    }

    .backNosotros{
        height: 600px;
        width: auto;
        opacity: 0.2;
    }

    .resena{
        top: 280px;
        font-size: 18px;
        width: 100%;
        left: 0;
        text-align: center;
    }

    .historia{
        top: 250px;
        left:5%;
        font-size: 12px;
        line-height: 175%;
        width: 90%;
        text-align: justify;
    }

    footer{
        flex-direction: column;
        height: 90px;
        justify-content: space-around;
    }
    
    .sumate{
        font-size: 12px;
        margin-left: 8px;
        width: 150px;
        text-align: center;
    }

    .whatsapp {
        margin-right: 0;
    }

}

