/* RESPONSIVE */

@media (max-width: 1129px){
    .cuerpoNosotros{
        p{
        font-size: 16px;
        margin-right: 15px;
        }
    }
    .grid-container{
        div{
            h4{
                font-size: 21px;
            }
            div{
                p{
                    font-size: 17px;
                    span{
                        font-size: 8px;
                        &:hover{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px){
    .cuerpoNosotros{
        img{
        opacity:0.2;
        }
        p{
            font-size: 16px;
            width: 95%;
            text-align: justify;
        }
    }
    .grid-container{
        grid-template-rows: repeat(34, 42px);
        gap: 0 15px;
        h4{
            font-size: 21px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            font-weight: 400;
        }
        .burguer{
            grid-column: 1/8;
            grid-row: 1/9;
        }
        .empanada{
            grid-column: 1/8;
            grid-row: 10/16;
            div{
                p{
                    padding: 4px 15px;
                }
            }
        }
        .pizza{
            grid-column: 1/8;
            grid-row: 17/25;
            }
        .sandwich{
            grid-column: 1/8;
            grid-row: 26/34;
        }
    }
    /*-- Formulario --*/
    h3{
        font-size: 22px;
        top: 200px;
    }
    form{
        position: absolute;
        top: 230px;
        button{
            font-size: 18px;
        }
    }
    .sobreMi{
        height: 180px;
    }
}




