/* RESPONSIVE */

@media (max-width: 1129px){
    .cuerpoNosotros{
        p{
        font-size: 16px;
        margin-right: 15px;
        }
    }
    .grid-container{
        div{
            h4{
                font-size: 21px;
            }
            div{
                p{
                    font-size: 17px;
                    span{
                        font-size: 8px;
                        &:hover{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px){
    .cuerpoNosotros{
        img{
        opacity:0.2;
        }
        p{
            font-size: 16px;
            width: 95%;
            text-align: justify;
        }
    }
    .grid-container{
        grid-template-rows: repeat(34, 42px);
        gap: 0 15px;
        h4{
            font-size: 21px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            font-weight: 400;
        }
        .burguer{
            grid-column: 1/8;
            grid-row: 1/9;
        }
        .empanada{
            grid-column: 1/8;
            grid-row: 10/16;
            div{
                p{
                    padding: 4px 15px;
                }
            }
        }
        .pizza{
            grid-column: 1/8;
            grid-row: 17/25;
            }
        .sandwich{
            grid-column: 1/8;
            grid-row: 26/34;
        }
    }
    /*-- Formulario --*/
    h3{
        font-size: 22px;
        top: 200px;
    }
    form{
        position: absolute;
        top: 230px;
        button{
            font-size: 18px;
        }
    }
    .sobreMi{
        height: 180px;
    }
}




@media (max-width: 768px){
    .headerPages {
        img{
        width: 100px;
        height: 100px;
        background-size: cover;
        }
        h2{
            font-size: 32px;
        }
    }
    .logoHead1 {
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .logoHead2 {
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .cuerpo{
        img{
        height: 390px;
        width: auto;
        }
        ul{
            font-size: 22px;
            top: 180px;
            }
    }
    .cuerpoNosotros{
        img{
        height: 390px;
        width: auto;
        }
        p{
            top: 135px;
            font-size: 14px;
            width: 95%;
            text-align: justify;
            }
        }
    .navBar{
        ul{
            li{
                font-size: 14px;
        }
    }
    }
    footer{
        height: 35px;
        nav{
            a{
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .sumate{
            font-size: 12px;
            margin-left: 8px;
            width: 150px;
            }
        .ubiTel{
            p{
                width: 200px;
                a{
                font-size: 10px;
                }
            }
        }
    }
    h3{
        font-size: 18px;
        top: 140px;
    }
    form{
        position: absolute;
        top: 190px;
        input{
            width: 400px;
            font-size: 12px;
        }
        button{
            font-size: 16px;
        }
    }
    .sobreMi{
        height: 180px;
    }
    .container{
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

@media (max-width: 560px){
    .logoHead2 {
        display: none;
    }

    .navBar{
        ul{
            li{
                font-size: 13px;
            }
        }

}
.cuerpoNosotros{
    justify-content: center;
}

}
@media (max-width: 476px){

    .headerPages{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
        margin-top: 25px;
        h2{
            font-size: 28px;
            margin-bottom: 15px;
        }
    }
    .navBar{
        ul{
            display: flex;
            justify-content: center;
            li{
                font-size: 11px;
                width: 80px;
            }
        }
    }
    .cuerpo{
        justify-content: center;
        ul{
            top: 280px;
            font-size: 18px;
            width: 100%;
            left: 0;
            text-align: center;
        }
        img{
            height: 600px;
            width: auto;
            opacity: 0.3;
        }
    }
    .cuerpoNosotros{
        p{
            top: 250px;
            left:1.5%;
            font-size: 12px;
            line-height: 175%;
            width: 90%;
            text-align: justify;
        }
        img{
            height: 600px;
            width: auto;
            opacity: 0.2;
        }
        
    }
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(38, 22px);
        gap: 0 15px;
        h4{
            font-size: 18px;
            padding: 0;
        }
        p{
            span{
                display: none;
            }
        }
        .burguer{
            grid-column: 1/8;
            grid-row: 2/8;
            p{
                font-size: 12px;
                margin: 4px 0;
            }
        }
        .empanada{
            grid-column: 1/8;
            grid-row: 11/20;
            p{
                font-size: 12px;
            }
        }
        .pizza{
            grid-column: 1/8;
            grid-row: 21/28;
            p{
                font-size: 12px;
                margin: 4px 0;
            }
            }
        .sandwich{
            grid-column: 1/8;
            grid-row: 30/38;
            p{
                font-size: 12px;
                margin: 4px 0;
            }
        }
    }
    h3{
        font-size: 16px;
        top: 240px;
    }
    form{
        top: 270px;
        input{
            width: 280px;
            font-size: 12px;
        }
        button{
            font-size: 16px;
        }
    }
    .sobreMi{
        height: 220px;
    }
    footer{
        flex-direction: column;
        height: 90px;
        justify-content: space-around;
        .sumate{
            font-size: 12px;
            margin-left: 8px;
            width: 150px;
            text-align: center;
        }
    }
}
